body {
    text-align: center;
    margin: 10vw;
}
#buttons {
    display: flex;
    justify-content: center;
}
#buttons>div {
    width: 10%;
}
button {
    margin: 1vw;
}
canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
}
